<h3>My Book List</h3>
<hr>
<div class="d-flex justify-content-end mb-3">
  <a routerLink="/books/manage" class="btn btn-outline-info">
    <i class="fas fa-plus"></i>&nbsp; New Book
  </a>
</div>

<div class="d-flex justify-content-start gap-2 flex-wrap">
  <app-book-card
    *ngFor="let book of bookResponse.content"
    [book]="book"
    [manage]="true"
    (archive)="archiveBook($event)"
    (share)="shareBook($event)"
    (edit)="editBook($event)"
  >
  </app-book-card>
</div>

<app-pagination
  [page]="page"
  [size]="size"
  [pages]="pages"
  [totalPages]="bookResponse.totalPages"
  (pageChanged)="onPageChanged($event)"
>
</app-pagination>

