<h3>Books List</h3>

<div
  *ngIf="message"
  class="alert"
  [class.alert-danger]="level === 'error'"
  [class.alert-success]="level === 'success'"
>
  {{ message }}
</div>

<hr>

<div class="d-flex justify-content-start gap-2 flex-wrap">
  <app-book-card
    *ngFor="let book of bookResponse.content"
    [book]="book"
    (borrow)="borrowBook($event)"
  >
  </app-book-card>
</div>

<app-pagination
  [page]="page"
  [size]="size"
  [pages]="pages"
  [totalPages]="bookResponse.totalPages"
  (pageChanged)="onPageChanged($event)"
>
</app-pagination>
